{% extends 'base_back.html.twig' %}
{% block title %}{{ parent() }}Système de chaleur{% endblock %}

{% block body %}
    <!-- header Page -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body app-heading">
                    <img class="profile-img" src="http://placehold.it/150x150">
                    <div class="app-title">
                        <div class="title"><span class="highlight">Système de chaleur</span></div>
                        <div class="description">lorem ipsum dolor</div>
                    </div>
                    <a href="{{ path('heatSystemNew') }}">
                        <button type="button" class="btn btn-success">Nouveau système de chaleur</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header"></div>
                <div class="card-body no-padding">
                    <table class="datatable table table-striped primary" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>label</th>
                            <th>img</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for heatSystem in heatSystems %}
                            <tr>
                                <td>{{ heatSystem.label }}</td>
                                <td><img src="{{ absolute_url(simple_directory) }}{{ heatSystem.img }}"></td>
                                <td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('heatSystemEdit', { 'id': heatSystem.id }) }}">
                                                <button type="button" class="btn btn-warning">edit</button>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}