{% extends 'base_back.html.twig' %}
{% block title %}{{ parent() }}Prospects{% endblock %}

{% block body %}
    <!-- header Page -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body app-heading">
                    <img class="profile-img" src="http://placehold.it/150x150">
                    <div class="app-title">
                        <div class="title"><span class="highlight">Prospects list</span></div>
                        <div class="description">lorem ipsum dolor</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
          <div class="card">
            <div class="card-header">
                <span class="badge badge-info badge-icon"><i class="fa fa-star" aria-hidden="true"></i><span>Number of Prospect</span>
            </div>
            <div class="card-body no-padding">
              <table class="datatable table table-striped primary" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nom / Prénom</th>
                        <th>Email</th>
                        <th>phone</th>
                        <th>Disponibilité</th>
                        <th>Status</th>
                        <th>dernière maj</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prospect in prospects %}
                        <tr>
                            <td>{{ prospect.name }} {{ prospect.firstName }}</td>
                            <td>{{ prospect.email }}</td>
                            <td>{{ prospect.phone }}</td>
                            <td>{{ prospect.callAvailability.label }}</td>
                            <td>
                                {% if prospect.status is not null %}
                                    <span class="badge badge-info badge-icon" style="background: {{ prospect.status.color }}; color:#fff">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span>{{ prospect.status.label }}</span>
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {% if prospect.lastUpdate is not null %}
                                    {{ prospect.lastUpdate|date("d M Y h:m", "Europe/Paris") }}
                                {% endif %}
                            </td>
                            <td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('prospectEdit', { 'id': prospect.id }) }}">
                                            <button type="button" class="btn btn-warning">Edit</button>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('prospectShow', { 'id': prospect.id }) }}">
                                            <button type="button" class="btn btn-primary">show</button>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </div>

{% endblock %}