{% extends 'base_back.html.twig' %}
{% block title %}{{ parent() }}Ressources Limites{% endblock %}

{% block body %}
    <!-- header Page -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body app-heading">
                    <img class="profile-img" src="http://placehold.it/150x150">
                    <div class="app-title">
                        <div class="title"><span class="highlight">Resources Limites</span></div>
                        <div class="description">lorem ipsum dolor</div>
                    </div>
                    <a href="{{ path('resourceLimitNew') }}">
                        <button type="button" class="btn btn-success">Nouvelle resource limite</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body no-padding">
                    <table class="datatable table table-striped primary" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>household</th>
                            <th>resource</th>
                            <th>En Ile de France</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for resourceLimit in resourceLimits %}
                            <tr>
                                <td>{{ resourceLimit.household }}</td>
                                <td>{{ resourceLimit.resource }}</td>
                                <td>
                                    {% if resourceLimit.isIleDeFrance == 1 %}
                                        oui
                                    {%  else %}
                                        non
                                    {% endif %}
                                </td>
                                <td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('resourceLimitEdit', { 'id': resourceLimit.id }) }}">
                                                <button type="button" class="btn btn-warning">edit</button>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}